.db{

  &__header{
    position: fixed;
    top: 0;
    width: 100%;
    height: $dashboard-header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 2px 5px 2px rgba(60,64,67,.15);
    z-index: 1000;
  }

  &__new{
    margin-top: $dashboard-header-height;
    padding: 1.5rem;
    background: #dadce0;
  }

  &__create{
    width: 160px;
    height: 160px;
    background: white;
    border-radius: 4px;
    border: 1px solid #dacde0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    text-decoration: none;
    &:hover{
      cursor: pointer;
      color: green;
      border-color: green;
    }
  }

  &__view{
    max-width: 1000px;
    margin: 0 auto;
  }

  &__table{
    padding: 1rem;
  }

  &__list{

    @include clear-list();

    &-header{
      display: flex;
      justify-content: space-between;
      color: #202124;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
      padding: 0px 21px;
    }
  }

  &__record{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px 12px 16px;
    margin-bottom: 10px;

    &:hover{
      background: #e6f4ea;
      border-radius: 25px;
    }

    a{
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
      color: #202124;

      &:hover{
        text-decoration: underline;
      }
    }
  }

}