.excel__header {
  position: absolute;
  top: 0;
  width: 100%;
  height: $header-height;
  padding: 8px 4px 0px;
  display: flex;
  justify-content: space-between;

  & .input{
    padding: 2px 7px;
    color: black;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 20px;
    font-size: 18px;
    line-height: 22;
    outline: none;
    &:hover{
      border: 1px solid $border-color;
    }
    &:focus{
      border: 2px solid #1a73e8;;
    }
  }

  & .button{
    @include button(red);
  }
}