@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "~normalize.css";

@import "./variables";
@import "./mixins";

@import "./header";
@import "./toolbar";
@import "./formula";
@import "./table";

@import "./dashboard.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto",sans-serif;
  font-size: 12px;
}

.excel{
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  padding: 2px;
  font-size: .8rem;
}