.excel__table {

  position: absolute; 
  width: 100%;
  top: $header-height + $toolbar-height + $formula-height;
  overflow: auto;

  .row {

    display: flex;
    min-height: 20px;
    height: $row-height;

    &-info{
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: $info-cell-width;
      height: 100%;
      border: 1px solid $border-color;
      background: #f8f9fa;
      border-top: none;
    }

    &-data{
      display: flex;
    }

    .column{
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      width: $cell-width;
      border: 1px solid $border-color;
      background: #f8f9fa;
      border-top: 0;
      border-left: 0; 
    }

    .cell{
      min-width: 40px;
      padding: 5px;
      width: $cell-width;
      height: 100%;
      border: 1px solid #e2e3e3;
      border-top: 0;
      border-left: 0;
      outline: none;

      &.selected{
        border: none;
        outline: 2px solid #3c74ff;
        z-index: 2;
      }
    }

  }
}