.excel__toolbar {
  position: absolute;
  height: $toolbar-height;
  width: 100%;
  top: $header-height;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 7px 10px;

  .button{
    @include button();
  }
}